WebServiceProject/wsdl/movie_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:m="http://www.mycom.com/movie"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="movie_service"
	targetNamespace="http://www.mycom.com/movie">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.mycom.com/movie">
			<xsd:element name="addMovie">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="movie" type="m:movieType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addMovieResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="movieType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"></xsd:element>
					<xsd:element name="actor" type="xsd:string"
						maxOccurs="unbounded" minOccurs="1">
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="title" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="rating" type="xsd:string"></xsd:attribute>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addMovieRequest">
		<wsdl:part element="m:addMovie" name="movieToAdd" />
	</wsdl:message>
	<wsdl:message name="addMovieResponse">
		<wsdl:part element="m:addMovieResponse" name="opStatus" />
	</wsdl:message>
	<wsdl:portType name="movie_service">
		<wsdl:operation name="addMovie">
			<wsdl:input message="m:addMovieRequest" />
			<wsdl:output message="m:addMovieResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="movie_serviceSOAP" type="m:movie_service">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addMovie">
			<soap:operation
				soapAction="http://www.mycom.com/movie/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MovieService">
		<wsdl:port binding="m:movie_serviceSOAP"
			name="MovieServiceSOAPPort">
			<soap:address location="http://127.0.0.1:8080/WebServiceProject/MovieService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
